.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
/* -------------------------------shared styles */
.dflex {
  display: flex;
}
/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark02 */
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  color: white;
  background-color: #ff900e;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
}
/* -------------------------------header styles */

/* navbar releted styles */
.navbar {
  justify-content: space-between;
}
.nav-links {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}
/*--------------------------------- banner related styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-titel {
  font-weight: 700;
  font-size: 4rem;
}
.banner-img {
  width: 100%;
}
/* resposnsive media querry */