.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
/* -------------------------------shared styles */
.dflex {
  display: flex;
}
/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark02 */
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  color: white;
  background-color: #ff900e;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
/* -------------------------------header styles */

/* navbar releted styles */
.navbar {
  justify-content: space-between;
  padding-top: 30px;
}
.nav-links {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-item > a {
  text-decoration: none;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}
/*--------------------------------- banner related styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-titel {
  font-weight: 700;
  font-size: 4rem;
}
.banner-text {
  margin: 20px 0px;
}
.banner-img {
  width: 100%;
}
/* -------------------------------- features section */
.teams {
  align-items: center;
  gap: 20px;
}
.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.our-features {
  margin-left: 130px;
  max-width: 530px;
}
.features-description {
  margin: 15px 0;
  color: #727272;
  font-size: small;
}
#quick-list {
  font-size: 2.8rem;
  font-weight: 600;
  padding-bottom: 10px;
}
#our {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 600;
  padding-bottom: 10px;
}
#feature {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 600;
}

/*-------------------------------- some facts style */
.some-facts {
  margin-bottom: 130px;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.facts-card {
  border: 1px solid #ff990e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
#facts-para {
  margin: 25px 0px;
}
/*========================================================= resposnsive media querry */
@media screen and (max-width: 576px) {
  .navbar {
    text-align: center;
  }
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .team-image-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .our-features {
    margin: 50px auto;
  }
}
